<div id="slide-page-container">
  <!-- on the left side ....... containing all the utilities for slide decorations (font, color, border...)
  -->
  <div id="slide-utility-container" class="col-xs-3">
    <div id="create-block-buttons-container" class="col-xs-12">

      <!-- icons for create blocks in aslide
      -->
      <div class="icon-container">
        <i id="slide-creation" class="fa fa-plus-circle fa-2x"></i>
      </div>
      <div class="icon-container">
        <i id="text-block-creation" class="fa fa-plus-square fa-2x"></i>
      </div>
      <div class="icon-container">
        <i id="image-block-creation" class="fa fa-picture-o fa-2x"></i>
      </div>
    </div>

    <div id="text-block-styling-container" class="col-xs-12">
      <!-- block decorator -->
      <div id="block-decorator">

        <span id="math-review-container" contenteditable="true">
        <span>

        <ul id="block-decorator-options">
          <li class="block-decorator-option">
            <div class="border-width">
              <span class="block-option-name"> Border Size: </span>
              <span class="increment"><i class="fa fa-plus"></i></span>
              <span class="descrement"><i class="fa fa-minus"></i></span>
            </div>
          </li>

          <li class="block-decorator-option">
            <div class="border-radius">
              <span class="block-option-name"> Border Redius: </span>
              <span class="increment"><i class="fa fa-plus"></i></span>
              <span class="descrement"><i class="fa fa-minus"></i></span>
            </div>
          </li>

          <li class="block-decorator-option">
            <span class="glyphicon glyphicon-triangle-right"></span>
            <div class="border-color">
              <div class="color-options">
              </div>
            </div>
          </li>

          <li class="block-decorator-option">
            <span class="glyphicon glyphicon-triangle-right"></span>
            <div class="background-color">
              <div class="color-options">
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- content decorator -->
      <div id="block-content-decorator">
        <ul id="block-content-decorator-options">
          <li class="content-decorator-option">
            <div id="basic-decorators-template" class='basic-decorators'>
              <span class="ql-bold fa fa-bold"></span>
              <span class="ql-italic fa fa-italic"></span>
              <span class="ql-strike fa fa-strikethrough"></span>
              <span class="ql-underline fa fa-underline"></span>
              <span class="ql-link fa fa-link"></span>
            </div>
          </li>

          <li class="content-decorator-option">
            <span class="fa fa-font"></span>
            <div class="font-style-options">
            </div>
          </li>

          <li class="content-decorator-option">
            <span class="glyphicon glyphicon-triangle-right"></span>
            <div class="font-text-color">
              <div class="color-options">
              </div>
            </div>
          </li>

          <li class="content-decorator-option">
            <span class="glyphicon glyphicon-triangle-right"></span>
            <div class="font-text-hightlight">
              <div class="color-options">
              </div>
            </div>
          </li>

          <li class="content-decorator-option">
            <span class="fa fa-text-width"></span>
            <div class="font-text-size">
            </div>
          </li>

        </ul>
      </div>
    </div>

    <div class="col-xs-12" style="background-color: white">
      <div id="slide-tree">
      </div>

      <div>
        <h4>Slide Tree</h4>
      </div>
      <div id="slide-fancy-tree">
        <ul>
          <li id="first-slide">First Slide</li>
        </ul>
      </div>
    </div>
  </div>


  <!-- on the right side ...... containing slide pages, image boxes and text boxes....
  -->
  <div id="slide-body-container" class="col-xs-8">

    <!-- hold slide, have this for dragging
    -->
    <div id="slide-holder">
      <div id="slide-header">
      </div>
      <div id="slide-body">
    </div>

  </div>
</div>
