// create button icon class: used for change color of icon
.create-block-icon-hit{
  color: red;
}


.text-block-container{
  // do not put property high
  width: 120px;
  border-radius: 10px;
  position: relative;

  .textblock-toolbar{
    position: absolute;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    top: -20px;
    height: 70%;
    width: 100%;
    background: #E9967A;
    display: none;

    .close-block-icon{
      float: left;
      z-index: 2;
    }

    .review-block-icon{
      float: left;
      z-index: 2;
    }

    .copy-paste-icon{
      float: left;
      z-index: 2;
    }

    .add-image-icon{
      float: left;
      z-index: 2;
    }

    .text-block-drag{
      float: right;
      border-top-right-radius: 5px;
      background-color: rgba(40, 192, 255, 0.5);
      height: 100%;
      width: 30%;
      z-index: 10;
    }
  }

  .text-block-body{
    position: relative;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 100%;
    width: 100%;
  }

  .text-block-body-mirror{
    position: relative;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    height: 100%;
    width: 100%;
    display: none;
  }

  .text-block-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: rgba(65,65,65,0.5);
    display: none;
  }
}

// color container
.color-options{
  width: 204px;
  height: 154px;
  border: 2px solid black;
  position: absolute;
  background: #A9A9A9;
  overflow-y: scroll;
  display: none;
}

//font style
.font-style-options{
  width: 200;
  height: 94;
  position: absolute;
  background: whitesmoke;
  overflow-y: scroll;
  display: none;
}

//font style
.font-style-options{
  width: 200;
  height: 94;
  position: absolute;
  background: whitesmoke;
  overflow-y: scroll;
  display: none;
}

.font-text-size{
  width: 200;
  height: 94;
  position: absolute;
  background: whitesmoke;
  overflow-y: scroll;
  display: none;
}


///// image block
.image-block-container{
  width: 128px;
  height: 128px;
  background-color: rbga(0,0,0,0);
  position: absolute;


  .close-block-icon{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    display: none;
  }
  .upload-image-file{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1001;
    display: none;
  }


  .upload-image-url{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1001;
    display: none;
  }

  .image-url-input{
    position: absolute;
    height: 20px;
    top: -20px;
    left: 0;
    width: 70%;
    display: none;
  }

  .apply-url-button{
    position: absolute;
    cursor: pointer;
    height: 20px;
    top: -20px;
    left: 70%;
    width: 30%;
    display: none;
  }

  .image-block-body{
    position: relative;
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: black;
    img{
      border-style: solid;
      border-width: 0px;
      height: 100%;
      width: 100%;
      z-index: 1000;
    }
  }

  .image-block-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: rgba(65,65,65,0.5);
    display: none;
  }

}


.image-block-container.text-block-image{
  top: 0;
  left: 0;
  z-index: 1000;
  cursor: pointer;
}
