.math-block-container{
  position: absolute;
  background: #5F9EA0;
  min-width: 30px;
  display: block;

  .math-block-cover{
    position: absolute;
    background-color: red;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: none;
  }
  .math-block-body{
    background: #5F9EA0;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .math-block-mirror{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}
