// Place all the styles related to the Slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// set cursor to all icon:
i{
  cursor: pointer;
}

#slide-page-container {
  // utilities
  background-image: url(http://static.tumblr.com/3nghtcy/cRImezufo/low_contrast_linen.png);
  height: 600px;
  width: 100%;

  // section that hold utilities
  #slide-utility-container{
    height: 100%;
    margin: 10px;
    background: rgba(106, 113, 109, 0.2);
    //border
    border-radius: 20px;

    #create-block-buttons-container{
      margin-top: 15px;
      height: 100px;
      border-radius: 10px;
      background: white;
      .icon-container{
        float: left;
        margin: 5px;

      }
    }

    #text-block-styling-container{
      margin-top: 15px;
      border-radius: 10px;
      background: white;

      // block decorator
      #block-decorator{

        #block-decorator-options{
          .block-decorator-option{

          }
        }
      }

      // content decorator -> only for text block
      #block-content-decorator{
        #block-content-decorator-options{
          .content-decorator-option{
            #basic-decorators-template{
              display: none;
            }
            .basic-decorators{
              span{
              }
            }
          }
        }
      }
    }

  }


  // section that holds slides, notes, and chat

  #slide-body-container{
    height: 100%;
    margin: 10px;
    background: rgba(106, 113, 109, 0.2);
    //border
    border-radius: 20px;

    //slide holder
    #slide-holder{
      background: white;
      border-radius: 10px;

      // slide header bar
      #slide-header{

        background-color: black;
        width: 100%;
        height: 30px;
        border-top-left-radius: 10px;
      }

      // slide body
      #slide-body{
        background: gray;
        width: 550px;
        height: 400px;
        border-bottom-right-radius: 10px;

      }
    }
  }
}
